<template>
  <main>
    <div class="container mt-6">
      <form @submit.prevent="addToDo">

        <h1 class='has-background-light title'>Badass Todo</h1>
        <input type="text" class="input mb-3" placeholder="Add Todo" v-model="todoContent"><br>
        <button type="submit" class="mb-3 button button-primary">Add Todo</button>
      </form>
        <div v-for="todo in toDos">
          <div class="notification is-primary mt-6">
            <button class="delete"></button>
          <strong>{{ todo.content }}</strong>
        </div>
      </div>
    </div>
  </main>
</template>
<script>
import { ref } from 'vue';
export default{
  setup(){
    let todoContent=ref('')
  //   const toDos=ref([{
  //     id:1,
  //     content: 'Shave my Butt',
  //     done:false
  //   },
  //   {
  //     id: 2,
  //     content: 'Moisturize my Butt',
  //     done: false
  //   }
  // ])
 const toDos=ref([])
  const addToDo=() =>{
    const item={
      id:3,
      content:todoContent.value,
      done:false
    }
    console.log(item)
    toDos.unshift(item)
  }

    return {toDos, addToDo, todoContent}
  }
}

</script>
<style>
@import '../../node_modules/bulma/css/bulma.css'

</style>